// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.backimage {
  position: relative;
}

.backimage .image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.backimage .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.backimage .text .guidance {
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
