// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order-new, .check, .admin-order-list, .admin-individual-show {
  height: auto;
  width: 150px;
  border-bottom: solid;
  border-width: 5px;
  border-color: #FFD1D1;
}

.individual-list {
  height: auto;
  width: 250px;
  border-bottom: solid;
  border-width: 5px;
  border-color: #FFD1D1;
}

.thanks-text {
  line-height: 620px;
}

.form-group, .my_address, .order-register, .new_address {
 color: #5c3e26;
 font-family: 'Sawarabi Mincho', sans-serif;
}