// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h3 {
   border-bottom: solid;
  border-width: 5px;
  border-color: #FFD1D1;
  width: 120px;
}

