/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

html, body, main {
 background-color: #FFF5E4;
 margin: 0;
 height: 100%
}

header {
 background-color: #FFE3E1;
}

footer {
 background-color: #FF9494;
 bottom: 0;
 left: 0;
 width: 100%;
}

/* ページネーション */
.pagination {
  justify-content: center;
}

.backimage-text {
  position: relative;
}

.fa-icon {
  cursor: pointer;
}

.icon-container {
  display: inline-block;
  position: relative;
}

.info-dropdown {
  display: none;
  position: absolute;
  top: -250%;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
}

.info-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.info-dropdown li {
  display: inline-block;
  margin-right: 10px;
}

/* 検索窓 */
.search_form {
  overflow: hidden;
  transition: width 0.3s;
}

.search_icon:hover {
  cursor: pointer;
}

/* ログイン*/
.login-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 999;
}

.login-btn-container {
  position: relative;
}

.login-btn-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* mypage*/
.mypage-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 26px;
  border: 1px solid #ccc;
  z-index: 999;
}

.mypage-btn-container {
  position: relative;
}

.mypage-btn-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* category*/
.category-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 26px;
  border: 1px solid #ccc;
  z-index: 999;
}

.category-container {
  position: relative;
}

.category-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #5c3e26;
  border-bottom: solid;
  border-width: 1px;
  border-color: #5c3e26;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}


/*追加箇所*/
p, h1, h2, h3, h4, h5, p, th, td, genre, .genreedit {
  color: #5c3e26;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.complete, .cart, .input, .comfirm {
  height: 620px;
}

th {
  background-color: #FFD1D1;
}

td {
  background-color: #FFE3E1;
}

/* ログイン・新規会員登録のリンクの色 */
.login-btn-container a {
  color: #5c3e26;
  text-decoration: none;
}

.login-btn-container a:hover {
  color: #8b5c38;
}

/* ジャンルのリンクの色 */
.category-dropdown a {
  color: #5c3e26;
  text-decoration: none;
}

.category-dropdown a:hover {
  color: #8b5c38;
}

/* マイページのリンクの色 */
.mypage-dropdown a {
  color: #5c3e26;
  text-decoration: none;
}

.mypage-dropdown a:hover {
  color: #8b5c38;
}

.category-container:hover {
  cursor: pointer;
}
