<div class="search_form">
  <%= search_form_for @q, url: search_items_path do |f| %>
    <%= f.search_field :name_cont, class: "mt-2", placeholder: '商品検索', class: "align-middle" %>
    <%= button_tag type: "submit", class: "btn btn-outline btn-sm glass" do %>
      <div class="text-info"><i class="fa-solid fa-magnifying-glass"></i></div>
    <% end %>
  <% end %>
</div>
