<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="mx-auto my-5 d-flex align-items-center">
        <p>Nagano Cake</p>
        <i class="fab fa-instagram-square ml-3 fa-2x"></i>
        <i class="fab fa-twitter-square ml-2 fa-2x"></i>
        <i class="fab fa-line ml-2 fa-2x"></i>
        <i class="fab fa-youtube ml-2 fa-2x"></i>
      </div>
    </div>
  </div>
</footer>